

   .sweet_titleImportant {
       color:gray !important; 
       margin: auto !important; 
       font-size: 18px !important;
       font-family: "Segoe UI", 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    }


 .sweet_messageImportant {
       color:gray !important;  
       margin: auto !important; 
       font-size: 18px !important;
       font-family: "Segoe UI", 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
    }

